@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;600;700&family=Sacramento&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #462756;
    color:#ffff;
    font-family: "Radio Canada";
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
header menu{
    display: flex;
    padding: 20px;
    margin-right: 30px;
    gap: 20px;
    
}
menu li{
    display: flex;
    align-items: center;
    list-style: none;
}
header h1{
    font-family: "Sacramento" ;
    font-weight: 300;
    font-size: 80px;
    padding: 13px 13px;
}
main{
    display: flex;
}
main .sobre-mim{
    padding: 80px;
    font-size: 20px;
    text-align: center;
    width: 70%;
}
.sobre-mim p{
    padding: 5px;
}
main h2{
    text-align: start;
    font-weight: lighter;
    font-size: 45px;
}
.sobre-mim .texto-digitado{
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    /* padding: 0.5rem; */
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    border-right: 2px solid #D0A2FF;
    animation: blink 1s steps(25) infinite normal,typing steps(25) 5s  1s normal infinite both;
    white-space: nowrap;
}


@keyframes blink {
    from{
        border-right-color: #D0A2FF;
    }
    to{
        border-right-color: transparent;
    }
    
  }
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 31rem;
    }
}  
